<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

</head>
<body>
    <div id="app">
        <div class="boxcolors">
            <h1>homework</h1>
            <div class="colors">
                <button class="pink" @click="color = 'pink'">Pink</button>
                <button class="yellow" @click="color = 'yellow'">Yellow</button>
                <button class="blue" @click="color = 'blue'" >Blue</button>
            </div>
        </div>
        <div class="boxtext">
            <input type="type" v-model="number">
                <p :class="color" v-if="number.length == 0">Поле пустое</p>
                <p :class="color" v-else-if="number > 0 && number < 21"> Вы ввели число {{ number }} </p>
                <p :class="color" v-else-if="number > 19"> Вы ввели больше чем 20 </p>
                <p :class="color" v-else="word">Вы ввели не число</p>

            
            
            
        </div>
    </div>
    
    <script src="app.js"></script>
</body>
</html>