.boxcolors {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.colors {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    
}

.boxtext {
    text-align: center;
    margin-top: 20px;
    gap: 20px;
}

.pink {
    background-color: pink;
    padding: 20px 60px;
}

.yellow {
    background-color: yellow;
    padding: 20px 60px;
}

.blue {
    background-color: blue;
    padding: 20px 60px;
}

